name: ci
on: 
    workflow_dispatch:
    push:
        branches: [main, master, feature/*, bugfix/*]
    pull_request:
        branches: [main, master]

jobs:
    tests:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: actions/setup-python@v5
              with:
                python-version: '3.12'
            - run: |
                pip install -r scripts/requirements.txt
                python scripts/main.py --no-plot
            - uses: actions-rust-lang/setup-rust-toolchain@v1
            - run: cargo test